.jumbotron {
  margin-top: 25px;
}

.navbar-brand {
  padding-top: 0px;
  height: 75px;
  /* margin-left: 25px; */
}

.footer,
.navbar {
  margin-bottom: 0px;
  background-color: #343a40 !important;
  color: #fff;
}

.footer,
.navbar-default,
.navbar-nav li a {
  color: #fff !important;
}

.navbar-default,
.navbar-nav li a:hover {
  color: #b9b9b9 !important;
}

.footer {
  padding-bottom: 5px;
}

/* 
  Card CSS
*/

.card {
  border: solid 1px rgb(14, 39, 77);
  border-radius: 5px;
}

.card-heading {
  background-color: #343a40 !important;
  color: #fff;
  padding: 5px;
}

form,
.card-body {
  margin: 15px !important;
}
